<!DOCTYPE html>
<html lang="es">
<head>
  <title>BaseConocimiento</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="span4">
			<%= image_tag "logo.png" , :alt=>"Zarintel", :class=>"img-rounded", :size=>"200x100"%>
		</div>
		<div class="span2 offset6">
		<% if user_session %>
			<%= link_to "Salir",salir_path, :class=>"btn btn-danger btn-larg" %>
		<% end %>
		</div>

	</div>

	<% if flash[:notice] %>
	<div class="row">
	<div  class="alert alert-success fade in">
	 <a class="close" data-dismiss="alert" href="#">&times;</a>
		<%= flash[:notice] %>
	</div>
	</div>
<% end %>

<%= yield %>
</div>
</body>
</html>
