<div class="row espacio">


<%= form_for(@articulo, :multipart=>true) do |f| %>
  <% if @articulo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@articulo.errors.count, "error") %> prohibited this articulo from being saved:</h2>

      <ul>
      <% @articulo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    </br>
    <%= f.text_field :titulo,  :class=>"campo_formulario" %>
  </div>
  <div class="field">
    
    <%= f.text_area :descripcion, :class => "tinymce", :rows => 12, :cols => 10 %>
    <%= tinymce %>
  </div>
  
   <div class="field">
    <%= f.label :autor %><br>
    <%= f.select :autor, options_for_select([["Alfredo García", "Alfredo García"], ["Sergio Lázaro", "Sergio Lázaro"], ["Juan Álvaro", "Juan Álvaro"], ["Alberto Cameo", "Alberto Cameo"], ["Santiago Ponce", "Santiago Ponce"]], :selected => @articulo.autor )  %>
    
  </div>

  <div class="field">
    <%= f.label :palabras_claves %><br>
    <%= f.text_field :palabras_claves, :class=>"campo_formulario" %>
  </div>


  <div class="field">
    <%= f.label :Adjunto %><br>
    <% if @articulo.adjunto.nil? %>
      <%= f.file_field :adjunto, :class=>"campo_formulario" %>
    <% else %>
     <%= f.text_field :adjunto, :readonly=>true %>
     <%= link_to '<i class="icon-trash"></i>'.html_safe, eliminar_path(@articulo.id), method: :delete, data: { confirm: 'Estás Seguro?' } %>
 
  <% end %>
  </div>




     
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>