<%= button_to "Nuevo Documento", new_articulo_path, :method=>:get, :class=>"btn btn-primary"%>
<table class="table table-hover">
  <thead>
    <tr>
    
      <th></th>
      
      <th>Titulo/Descripción</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articulos.each do |articulo| %>
      <tr>
        <td>
          <%= link_to 'Mostrar', articulo,  :class=>"btn btn-mini btn-primary"  %>
          <%= link_to 'Editar', edit_articulo_path(articulo), :class=>"btn btn-mini btn-primary" %>
          <%= link_to 'Eliminar', articulo, method: :delete, data: { confirm: 'Are you sure?' },  :class=>"btn btn-mini btn-danger" %>
       </td>
    
       <td><strong><%=link_to articulo.titulo, articulo %></strong></br>
      <small><%= articulo.descripcion[0..250].html_safe  %>...</small></td>
  
      
      </tr>
    <% end %>
  </tbody>
</table>




