
<div class="row">
	<div class="span4">
		<p id="notice"><%= notice %></p>
<%= link_to 'Inicio', root_path, :class=>"btn btn-primary btn-larg" %> 
<%= link_to 'Editar', edit_articulo_path(@articulo), :class=>"btn btn-primary btn-larg" %> 
	</div>
</div>

<div class="row espacio fondo-lectura">
	<div class="span12 offset3">
		<h2><%= @articulo.titulo %></h2>
	</div>	

</div>
<div class="row espacio">
	<%= @articulo.descripcion.html_safe %>

</div>







